GWALERT_DB_URL=postgresql+psycopg2://gw_journalkeeper:PASSWORD@a3wo8r2r92.g7fnifvthm.tsdb.cloud.timescale.com:31401/tsdb?sslmode=require

GWALERT_ALERT_MANAGER_URL=http://localhost:8000
GWALERT_ALERT_MANAGER_TOKEN=

GWALERT_OPSGENIE_API_KEY=
GWALERT_OPSGENIE_TEAM_ID=
