GWALERT_DB_URL=postgresql+psycopg2://journaldb:journaldb@localhost:5433/journaldb_dev
GWALERT_GBO_DB_URL=postgresql+psycopg2://journaldb:journaldb@localhost:5433/backofficedb_dev
GWALERT_OPS_GENIE_API_KEY=
GWALERT_EMAIL_SENDER=
GWALERT_EMAIL_PASSWORD=
